<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{>header}}

        <div class="main-content">
             <p>Use this site to get your weather!</p>

             <form id="weather-form">
                 <input class="input-field" placeholder="Enter Location" type="text" name="location">

                <div class ="temp-unit">
                    <label><input type ="radio" name = "temperatureUnit" value = "Celsius"> Celsius</label>
                    <label><input type ="radio" name = "temperatureUnit" value = "Fahrenheit">Fahrenheit</label>
                </div>

                <button type="submit"> Search</button>
            </form>

            <div id="result"></div>

             <p id="message-1"></p>
            <p id="message-2"></p>
        </div>

    {{>footer}}

    <script src="js/app.js"></script>
</body>

</html>